.about{
    width: 100%;
    display: flex;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    line-height: 27px;
}
.about .content img{
    height: auto;
    width: 500px;
    max-width: 100%;
    margin: 0 100px;
    border-radius: 48%;
}

.about .text{
    width: 700px;
    max-width: 100%;
    padding: 0 10px;
    color: white;
}
.text  ul{
    margin-left: 15px;
    margin-top: 15px;
    list-style: none;
    color:white;
    font-size: 1.1rem;
}
.text  ul li::before{
    content: "\2022"; 
    color: rgb(248, 217, 15); 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}
.about .content{
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: rgb(248, 217, 15);
    margin-bottom: 15px;
    font-size: 2rem;;
}

.text p{
    font-size: 1.1rem;
}

@media screen and (max-width:1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width:1499px){
    .about .content img{
        margin-bottom: 35px;
     }
}

@media screen and (max-width:700px){
    .about .text{
       margin: 20px;
    }
}

@media screen and (max-width:650px){
    .about .content img{
       margin-bottom: 35px;
    }
}
@media screen and (max-width:480px){
    .about .content img{
       max-width: 80%;
    }
}