.post-content .box-image .post-img1{
    width: 500px;
    height: 530px;
}
.post-content .box-image .post-img2{
    width: 900px;
    height: 400px;
}


@media screen and (max-width:1024px){
    .post-content .box-image .post-img2{
        width: 700px;
        height: 350px;
    }
}
@media screen and (max-width:800px){
    .post-content .box-image .post-img2{
        width: 600px;
        height: 310px;
    }
}
@media screen and (max-width:650px){
    .post-content .box-image .post-img1{
        width: 420px;
        height: 490px;
    }
    .post-content .box-image .post-img2{
        width: 500px;
        height: 280px;
    }
}
@media screen and (max-width:550px){
    .post-content .box-image .post-img2{
        width: 400px;
        height: 240px;
    }
    .post-content .box-image .post-img1{
        width: 390px !important;
        height: 450px !important;
    }
}
@media screen and (max-width:450px){
    .post-content .box-image .post-img2{
        width: 360px;
        height: 210px;
    }
    .post-content .box-image .post-img1{
        width: 350px !important;
        height: 400px !important;
    }
}
@media screen and (max-width:400px){
    .post-content .box-image .post-img2{
        width: 300px;
        height: 180px;
    }
    .post-content .box-image .post-img1{
        width: 330px !important;
        height: 380px !important;
    }
}

@media screen and (max-width:280px){
    .post-content .box-image .post-img2{
        width: 250px;
        height: 100px;
    }
    .post-content .box-image .post-img1{
        width: 250px !important;
        height: 300px !important;
    }
}


