.servizi{
    width: 100%;
    padding: 6rem 1rem;
    background: #000;
}
.cardContainer{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
}
.card{
    border:2px solid rgb(93, 93, 93);
    padding: 15px;
    max-height: 800px;
    max-width: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 22px;
    word-spacing: 2px;
}
.card:hover{
    background-color: #141414;
}
.card h3{
    font-size: 1.4rem;
    color: rgb(248, 217, 15);
    padding: 1rem;
}
.card p{
    padding: 10px 0;
    margin-bottom: 30px;
}
.card .btn{
    max-height: 30px;
    padding: 5px 5px;
    bottom: 0;
    margin-top:auto;
    
}

.bar{
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: auto;
    display: block;
}

@media screen and (max-width:740px) {
    .cardContainer{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    
}